/**
 * SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@import "includes/variables";

#kHeader {
  width: 100%;
  height: 400px;
  background-image: url(/reusable-assets/home-blur.jpg);
  background-position: center;
  background-size: cover;

  h1 {
    font-size: 1.8em;
    font-weight: bold;
  }

  .carousel-inner {
    width: 100%;
    height: 100%;
  }

  .carousel-item {
    color: #EEE;
    width: 100%;
    height: 100%;
  }

  .carousel .carousel-item {
    padding: 0;
  }

  .carousel-item-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;

    @media(min-width: 768px) {
      flex-direction: row;
      align-items: center;
      height: 100%;
    }
    @media(min-width: 1100px) {
      max-width: 1140px;
      width: 100%;
    }
  }

  .slide-background {
    width: 100%;
    flex-grow: 2;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media(min-width: 768px) {
      flex: 2 1 auto;
      height: 100%;
    }
  }

  .carousel-text-overlay {
    flex-shrink: 2;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 30px 0 10px 0;
    color: #FFF;

    h1 {
      font-size: 1.2em;

      @media(min-width: 1100px) {
        margin-bottom: 16px;
      }
    }

    p {
      line-height: 1.4em;
    }

    @media(min-width: 768px) {
      flex: 1 3 auto;
      position: unset;
      border: none;
      background: none;
      text-align: left;
      color: #FFF;
      font-size: 1em;
      padding: 0 10px 0 15px;
    }
    @media(min-width: 1100px) {
      font-size: 1.3em;
      padding: 0 40px 0 15px;
    }
  }

  .learn-more {
    color: $primary;
  }

  @media(min-width: 768px) {
    height: 500px;
  }
  @media(min-width: 1100px) {
    height: 700px;
  }
}
