{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "main" }}
<main role="main" style="max-width: 100% !important;">
  <article class="post-content">
    <div class="jumbotron">
      <div class="content-width">
        <img src="/reusable-assets/konqi-dev.png" alt="" class="konqi">

        <h1 class="page-header">
          {{ with .Title }}{{ . }}{{ else }}{{ i18n "getinvolved.title" }}{{ end }}
        </h1>

        {{ with .Params.subtitle }}
          <h4>{{ . | markdownify }}</h4>
        {{ end }}

        {{ if not .Params.hideMeta }}
          <p class="meta">
            {{ partial "i18n_date.html" . }}
            {{ partial "fn/authors.html" . }}
          </p>
        {{ end }}
      </div>
    </div>

    <div class="content-width">
  <h1></h1>

  {{ .Content }}

{{- if not .Params.no_text }}
  <h2>{{ partial "fn/i18n_args" (slice "getinvolved.build.title" .Params.name) }}</h2>
  <p>{{ i18n "getinvolved.build.description" | markdownify }}</p>

  {{ with .Params.getintouch }}
    <h2>{{ i18n "getinvolved.getintouch.title" }}</h2>
    {{ . | markdownify }}
  {{ end }}

  <h2>{{ i18n "getinvolved.notprogrammer.title" }}</h2>
  <p>{{ partial "fn/i18n_args" (slice "getinvolved.notprogrammer.description" .Params.name) }}</p>

  <ul>
    <li>{{ i18n "getinvolved.notprogrammer.bug" | markdownify }}</li>
    <li>{{ partial "fn/i18n_args" (slice "getinvolved.notprogrammer.localization" .Params.name) | markdownify }}</li>
    <li>{{ partial "fn/i18n_args" (slice "getinvolved.notprogrammer.documentation" .Params.name) | markdownify }}</li>
    <li>{{ partial "fn/i18n_args" (slice "getinvolved.notprogrammer.promotion" .Params.name) | markdownify}}</li>
    {{- $link := printf "https://userbase.kde.org/%s" .Params.userbase }}
    <li>{{ partial "fn/i18n_args" (slice "getinvolved.notprogrammer.wiki" $link) | markdownify}}</li>
    <li>{{ i18n "getinvolved.notprogrammer.more" }}</li>
  </ul>
{{- end }}
</main>
{{ end }}
