{{ define "main" }}
<main role="main" style="max-width: 100% !important;">
  <article class="post-content">
    {{ partial "jumbotron" . }}

    <div class="content-width">
      {{ .Content }}

      {{ partial "discourse_comments.html" . }}

      {{ partial "include-html" . }}

      {{ partial "related-post" . }}

      {{ partial "copyright.html" . }}
    </div>
  </article>
</main>
{{ end }}
