{{/*
SPDX-FileCopyrightText: 2024 Devin Lin <espidev@gmail.com>
SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}
<div class="jumbotron">
  <div class="container">
    {{ if .Params.header_image_link }}
      <img src="{{ .Params.header_image_link }}" alt="" class="konqi">
    {{ end }}

    <h1 class="page-header">
      {{ .Title }}{{ if not (eq .Kind "page") }}&nbsp;{{ partial "rss_section.html" . }}{{ end }}
    </h1>

    {{ with .Params.subtitle }}
      <h4>{{ . }}</h4>
    {{ end }}

    {{ if not .Params.hideMeta }}
      <p class="meta">
        {{ partial "i18n_date.html" . }}
        {{ if .Params.authors }}&emsp;|&emsp;{{ end }}
        {{ partial "fn/authors.html" . }}
      </p>
    {{ end }}
  </div>
</div>
