{{/*
SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
SPDX-FileCopyrightText: 2024 Julius Künzel <julius.kuenzel@kde.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ if or (.Params.discourse) (.Params.discourse_topic_id) }}
  <h2 id="comments">{{ i18n "blog.comments" }}</h2>
  <div id='discourse-comments'></div>
  {{ if .Params.discourse }}
    <meta name='discourse-username' content='{{ .Params.discourse }}'>
  {{ end }}
  <script type="text/javascript">

    {{ if .Params.discourse_topic_id }}
      DiscourseEmbed = {
        discourseUrl: 'https://discuss.kde.org/',
        topicId: '{{ .Params.discourse_topic_id }}',
      };
    {{ else if .Params.discourse }}
      DiscourseEmbed = {
        discourseUrl: 'https://discuss.kde.org/',
        discourseEmbedUrl: '{{ .Page.Permalink }}',
        // className: 'CLASS_NAME',
      };

    {{ end }}

    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
  </script>
{{ end }}
