<input type="hidden" name="no_note" value="0">
<input type="hidden" name="lc" value="GB">
<input type="hidden" name="item_name" value="{{ i18n "development-and-communication" }}">
<input type="hidden" name="cbt" value="{{ i18n "return-kde" }}">
<input type="hidden" name="return" value="https://kde.org/community/donations/thanks_paypal.php">
<input type="hidden" name="notify_url" value="https://kde.org/community/donations/notify.php">
<input type="hidden" name="business" value="kde-ev-paypal@kde.org">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="currency_code" value="EUR">
