<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{ if templates.Exists "partials/subhead.html" }}
{{ partial "subhead.html" . }}
{{ else }}
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
{{ $title := .Title }}
{{ if .IsHome }}
<title>{{ $title }}</title>
{{ else }}
<title>{{ $title }} - {{ $.Site.Title }}</title>
{{ end }}
{{ partialCached "favicons.html" . }}

{{ with .OutputFormats.Get "RSS" }}<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />{{ end }}

{{ template "_internal/opengraph.html" . }}
{{ with .Params.fediverse }}
  <meta name="fediverse:creator" content="{{ . }}" />
{{ end }}
{{ template "_internal/twitter_cards.html" . }}

{{ partial "json_ld.html" . }}
{{ end }}

<link rel="canonical" href="{{ .Permalink }}">

{{ range .Translations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
{{ end }}

{{ partial "head-css.html" . }}
