<span><img class="canonical" alt='{{ i18n "patron-alt-canonical" }}' loading="lazy"></span>
<span><img class="google" alt='{{ i18n "patron-alt-google" }}' loading="lazy"></span>
<span><img class="suse" alt='{{ i18n "patron-alt-suse" }}' loading="lazy"></span>
<span><img class="qt" alt='{{ i18n "patron-alt-qc" }}' loading="lazy"></span>
<span><img class="blue-systems" alt='{{ i18n "patron-alt-bs" }}' loading="lazy"></span>
<span><img class="slimbook" alt='{{ i18n "patron-alt-slimbook" }}' loading="lazy"></span>
<span><img class="tuxedo" alt='{{ i18n "patron-alt-tuxedo" }}' loading="lazy"></span>
<span><img class="kfocus" alt='{{ i18n "patron-alt-kfocus" }}' loading="lazy"></span>
<span><img class="gnupg" alt='{{ i18n "patron-alt-gnupg" }}' loading="lazy"></span>
<span><img class="mbition" alt='{{ i18n "patron-alt-mbition" }}' loading="lazy"></span>
