{{/*
SPDX-FileCopyrightText: Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: GPL-3.0-or-later
*/}}
<a href="https://go.kde.org/matrix/#/#kde:kde.org" aria-label="{{ i18n "share-matrix" }}">{{ partial "svg" "social/matrix" }}</a>
<a href="https://floss.social/@kde" aria-label="{{ i18n "share-mastodon" }}">{{ partial "svg" "social/mastodon" }}</a>
<a href="https://bsky.app/profile/kde.org" aria-label="{{ i18n "share-bluesky" }}">{{ partial "svg" "social/bluesky" }}</a>
<a href="https://www.facebook.com/kde/" aria-label="{{ i18n "share-facebook" }}">{{ partial "svg" "social/facebook" }}</a>
<a href="https://www.linkedin.com/company/29561/" aria-label="{{ i18n "share-linkedin" }}">{{ partial "svg" "social/linkedin" }}</a>
<a href="https://www.reddit.com/r/kde/" aria-label="{{ i18n "share-reddit" }}">{{ partial "svg" "social/reddit" }}</a>
<a href="https://lemmy.kde.social/" aria-label="{{ i18n "share-lemmy" }}">{{ partial "svg" "social/lemmy" }}</a>
<a href="https://www.youtube.com/@KdeOrg" aria-label="{{ i18n "share-youtube" }}">{{ partial "svg" "social/youtube" }}</a>
<a href="https://tube.kockatoo.org/a/kde_community/video-channels" aria-label="{{ i18n "share-peertube" }}">{{ partial "svg" "social/peertube" }}</a>
<a href="https://vk.com/kde_ru" aria-label="{{ i18n "share-vk" }}">{{ partial "svg" "social/vk" }}</a>
<a href="https://www.instagram.com/kdecommunity/" aria-label="{{ i18n "share-instagram" }}">{{ partial "svg" "social/instagram" }}</a>
