{{ define "main"}}
  <main id="main" class="container">
    <h1 id="title" class="text-center">{{ i18n "fof.title" }}</h1>
    <div class="text-center">
      <p>{{ i18n "fof.desc" }}</p>
      <p>
        <a href="{{ .Site.Home.RelPermalink }}">
          {{ i18n "fof.return" }}
        </a>
      </p>
    </div>
  </main>
{{ end }}
