/**
 * SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
 * SPDX-FileCopyrightText: (c) 2019 Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: (c) 2017 Ken Vermette <vermette@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

// theme-color-variables
$primary: #54a3d8;

// Body
$body-bg: #fcfcfc;

// Links
$link-color: #316f98;
$link-decoration: none;
$link-hover-color: #3daefd;
$link-hover-decoration: none;

$font-size-root: 18px;

$h1-font-size: 32px;
$h2-font-size: 28px;
$h3-font-size: 22px;
$h4-font-size: 18px;
$h5-font-size: 18px;
$h6-font-size: 16px;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

// headings-variables
$headings-font-weight: normal;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Inter.woff2) format('woff2');
}

$font-family-sans-serif:
  'Inter',
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// form-label-variables
$form-label-margin-bottom: 0.25rem;

// navbar-variables
$navbar-light-toggler-border-color: transparent;

/* end of Bootstrap variables */

$navbar-active-color: #fff;

$footer-bg: #eff0f1;
$footer-income-bg: #abf9c7;
$footer-bg-changed: #fff;
$footer-legal-color: #6f8181;

$fig-cap-color: #642b2b;

$code-border: #e8e8e8;
$code-bg: #eef;
