/*
 * SPDX-FileCopyrightText: 2020 (c) Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/**
 * Responsible for the navbar style at the top
 */

.header {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0);

  a {
    outline: none;
  }
}

.navbar {
  padding: 0;
  min-height: 46px;
  max-width: 1320px;

  .navbar-brand-text {
    margin: 0 5px;
  }

  .navbar-brand {
    margin: 0;
    padding: 0 5px;
    height: 48px;
    display: flex;
    align-items: center;
    background-color: $primary;
    color: var(--navbar-active-color);

    &:hover {
      color: var(--navbar-active-color);
    }
  }

  button {
    outline: 0;
  }

  .navbar-collapse {
    .nav-item a.nav-link {
      height: 48px;
      line-height: 48px;
      padding: 0 20px;
      display: inline-block;
      color: var(--bs-body-color);

      &:hover, &:focus, &:active {
        color: $link-hover-color;
      }
    }

    .nav-item a.nav-link.active {
      background-color: $primary;
      color: var(--navbar-active-color);

      &:hover {
        color: var(--navbar-active-color);
      }
    }

    .navbar-nav {
      list-style: none;
      padding-right: 0;
    }

    .navbar-nav .nav-item {
      display: inline-block;

      .bi {
        width: 1em;
        height: 1em;
        vertical-align: -.125em;
        fill: currentcolor;
      }
    }

    .navbar-nav .nav-item a {
      text-decoration: none;
    }

    button {
      color: var(--bs-body-color);
    }
  }

  .nav-item.show {
    background-color: rgba(0, 0, 0, 0);
    height: auto;
  }
}

.app-logo {
  padding: 0;
  margin: 0;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 42px;
  }
}

.kde-logo {
  height: 48px;
  margin: 0;
  padding: 0 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  background-color: $primary;
  line-height: 50px;

  &:before {
    top: 0;
    left: 25px;
    width: 32px;
    content: "K";
    font-family: "glyph";
    font-weight: normal;
    font-size: 32px;
    text-indent: 0;
    text-align: center;
    display: inline-block;
    text-decoration: none !important;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Use in case only the logo is displayed */
  &.only {
    padding-right: 0 !important;
  }
}

.made-by-kde::before {
  position: absolute;
  top: 0;
  width: 32px;
  margin-inline-start: -32px;
  content: "K";
  font-family: "glyph";
  font-size: 32px;
  font-weight: normal;
  text-indent: 0px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  text-decoration: none !important;
  visibility: visible;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.made-by-kde {
  color: var(--bs-body-color) !important;
  padding-inline-start: 32px;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    order: 3;
  }

  .navbar-expand-lg .made-by-kde {
    order: 2;
  }

  .made-by-kde {
    visibility: hidden;
    font-size: 0;
  }

  .with-made-by-kde .navbar-toggler:before {
    padding-right: 35px;
  }
}

/*
@include media-breakpoint-down(md) {
    .navbar-expand-lg .made-by-kde span {
        display: none;
    }

    .made-by-kde {
        order: 2;
        padding-left: 20px;
    }

    .navbar-toggler {
        order: 3;
    }
}*/

.navbar-toggler {
  padding: 0;
  font-size: 0;

  &:before {
    width: 46px;
    content: "=";
    color: var(--bs-body-color);
    font-family: "glyph";
    font-size: 22px;
    font-weight: normal;
    text-indent: 0;
    text-align: center;
    line-height: 46px;
    display: inline-block;
    text-decoration: none !important;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-expand-md .navbar-collapse .navbar-nav .nav-item a {
    width: 100%;
  }
  .flex-column-sm {
    flex-direction: column;
  }
}

@include media-breakpoint-down(md) {
  .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item a {
    width: 100%;
  }
}

@include media-breakpoint-up(md) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.form-inline {
  padding: 0 20px;

  @include media-breakpoint-up(md) {
    .form-control {
      height: calc(1.5em + 0.25rem + 2px);
    }
  }
}

.dropdown-menu {
  padding: 0;
  margin: 0 !important;
  border-radius: .25rem;
  border: 1px solid $primary;
  border-top: none;
}

.dropdown-item {
  padding: .5rem 1.5rem;
}

.dropdown-trans {
  max-height: 500px;
  overflow-y: scroll;
}

@media (max-width: 991.98px) {
  .lg-search {
    display: none !important;
  }
  .under-lg-search {
    display: block;
  }
}
@media (min-width: 992px) {
  .under-lg-search {
    display: none
  }
  .lg-search {
    display: block;
  }
  .search-form {
    width: 320px;

    .search-input {
      border: none;
      width: 250px;
    }
  }
}

// Component Selector

.component-selector{
  padding: 0;
  border-radius: 0;
}

.nav-menu-apps{
  display: flex;
  flex-wrap: wrap;
  min-width: 360px;

  a {
    min-width: 50%;
    flex: 1 1 auto;
    position: relative;
    min-height: 100px;
    line-height: 100px;
    font-size: 1.3em;
    color: #334545;
    background-repeat: no-repeat;
    background-position: -9999px -9999px;
    text-align: center !important;
  }

  a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 155%;
    opacity: 0.5;
    background-image: inherit;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    content: '';
    z-index: -1;
    transition: background-size 0.3s;
  }

  a:hover::before {
    background-size: 60%;
  }

  a.component-large{
    min-width: 360px;
  }

  a.component-large::before{
    background-size: 100%;
  }
  a.component-large:hover::before{
    background-size: 150%;
  }
}

// Make Component Selector Responsive
@media (max-width: 991.98px){
  .dropdown-menu.component-selector{
    background: transparent !important;
  }

  .nav-menu-apps{
    a {
      width: auto !important;
    }
  }
}
