{{ $_hugo_config := `{ "version": 1 }` }}
{{ $color := .Get "color" | default "success" }}
<div class="d-flex align-items-center notecard notecard--{{ $color }}{{ with .Get "div_class" }} {{ . }}{{ end }}" role="alert">
  {{- with .Get "icon" -}}
    {{- if eq . "tip" -}}<svg style="width:32px;height:32px;align-self:baseline;" viewBox="0 0 24 24"><path fill="currentColor" d="M1 11H4V13H1V11M19.1 3.5L17 5.6L18.4 7L20.5 4.9L19.1 3.5M11 1H13V4H11V1M4.9 3.5L3.5 4.9L5.6 7L7 5.6L4.9 3.5M10 22C10 22.6 10.4 23 11 23H13C13.6 23 14 22.6 14 22V21H10V22M12 6C8.7 6 6 8.7 6 12C6 14.2 7.2 16.2 9 17.2V19C9 19.6 9.4 20 10 20H14C14.6 20 15 19.6 15 19V17.2C16.8 16.2 18 14.2 18 12C18 8.7 15.3 6 12 6M13 15.9V17H11V15.9C9.3 15.5 8 13.9 8 12C8 9.8 9.8 8 12 8S16 9.8 16 12C16 13.9 14.7 15.4 13 15.9M20 11H23V13H20V11Z" /></svg>
    {{ else }}
      <span class="me-3 alert-icon"><img src="/reusable-assets/alert-{{ . }}.png" width="40"></span>{{ end }}
    {{ end }}
  <span>
    {{ with .Get "title" }}<p class="h4 mt-0">{{ . | safeHTML }}</p>{{ end }}
    {{- .Inner | $.Page.RenderString }}
  </span>
</div>
